@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

$mb-blue: #000080;
$mb-white: #fafffa;
$mb-black: #000;
$mobileBreakpoint: 768px;
$desktopBreakpoint: 1024px;
$mobileWidth: 84vw;
$mobileMargin: 8vw;

//fonts
$serif: 'Cinzel', serif;
$sansSerif: 'Oswald', sans-serif;

// $mb-blue: #001f9b;
